html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

 a {
	color: inherit;
	text-decoration: none;
  margin-bottom: 50px;
}

a{
  color: inherit;
  text-decoration: none;
}
img{
  max-width: 100%;
}
body{
  font-family: 'Montserrat';
}
@font-face{
  font-family: 'Montserrat';
  src:  url('fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Montserrat';
  src:  url('fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;

}
@font-face{
  font-family: 'Montserrat';
  src:  url('fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;

}
@font-face{
  font-family: 'Montserrat';
  src:  url('fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}
.container{
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 15px;


}
.flex{
  display: flex;
}
.btn-reset{
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-reset{
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-inline{
  display: inline-flex;
}
:root{
  --color-orange:#F90;;
  --color-orange1:#FFB84D;
  --color-orange3:#E1670E;
  --color-lime:#97EE3F;
  --color-gray:#666;
  --color-white:#F1F1F1;
  --color-gray: #666;
  --color-black: #000;
  --color-gray1:#999;
  --color-gray2:#CACACA;

}
/*HEADER*/
.header{
  border-radius: 0px 0px 32px 32px;
  background: #FFF;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}
.header__container{
  width: 100%;
  height: 100%;
}
.header__logo{
  margin: 0;
  margin-top: 7px;
  margin-bottom: 14px;
  margin-right: auto;
  margin-left: 50px;
  max-width: 225px;
  max-height: 72px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  margin-left: 0;
}
.header__list{
  margin-top: 39px;

}
.header__link{
  margin-top: 39px;
  color: var(--color-black);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: border-bottom 0.3s ease-in-out;
}
.header__link:focus{
  outline: 2px solid #F90;
  outline-offset: 5px;
  transition: outline 0.3s ease-in-out;

}
.header__link:hover{
  border-bottom: 2px solid #F90;
}
.header__link:active{
  color: var(--color-orange3);
  border-bottom: 2px solid #E1670E;
  outline: none;
  transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}
.header__item{
  margin-right: 86px;
}
.header__icon{
  margin-top: 39px;
  color: var(--color-black);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-height: 24px;
  max-width: 24px;
}
.header__icon svg{
  stroke: #000;
  transition: stroke 0.3s ease-in-out;
}
.header__icon rect{
  fill:#000;
  transition: fill 0.3s ease-in-out;
}
.header__icon:focus{
  outline: 2px solid #F90;
  outline-offset: 2px;
  transition: outline 0.3s ease-in-out;
}
.header__icon svg:hover{
  stroke: var(--color-orange);
}
.header__icon svg rect:hover{
  fill: var(--color-orange);
}

.header__icon:active{
  outline: none;
  stroke: none;
}
.cont__image{
  background-image: url('img/cont-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 620px;
  flex-shrink: 0;
  border-radius: 15px;
  margin-top: 38px
}
.photo__title{
  max-width: 837px;
  margin: 0;
  padding-top: 98px;
  color: var(--color-white);
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 90px;

}
.descr__photo{
  margin: 0;
  max-width: 790px;
  padding-top: 22px;
  padding-bottom: 0;
  color: var(--color-white);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 90px;
}
.header__btn{
  border-radius: 16px;
  background: var(--color-orange);
  margin-top: 92px;
  padding: 25px 39px;
  color: var(--color-white);
  text-align: center;
  font-family: Montserrat;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 92px;
  transition: background 0.3s ease-in-out;
}
.header__btn:focus{
  background: var(--color-orange1);
}
.header__btn:hover{
  background: var(--color-orange1);
}
.header__btn:active{
  background: var(--color-orange3);
}
/*ABOUTUS*/
.aboutus__contain{
  margin-top: 50px;
  width: 100%;
  flex-wrap: wrap;
}
.aboutus__title{
  margin-left: 10px;
  margin-bottom: 0;
}
.section__title{
  margin-top: 50px;
  color: #000;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.aboutus__descr{
  max-width: 1235px;
  width: 100%;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  margin-top: 22px;
}
.image1{
  background-image: url('img/image-left.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 868px;
  width: 100%;
  max-height: 622px;
  flex-shrink: 0;
  border-radius: 15px;
  margin-right: 32px;
}
.aboutus__left{
  max-width: 868px;
  height: 196px;
  flex-shrink: 0;
  margin: 0;
  margin-top: 426px;
  background: rgba(0, 0, 0, 0.50);
  border-radius: 30px;
  padding: 0;

}
.aboutus__item__decsr1{
  color: var(--color-white);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
  max-width: 433px;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 159px;
}
.nav__btn{
  border-radius: 16px;
  border: 3px solid #F90;
  color: var(--color-white);
  display: inline-flex;
  min-height: 60px;
  padding: 19px 38px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  margin-top: 68px;
  margin-bottom: 68px;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}
.nav__btn:focus{
  background: var(--color-orange1);
}
.nav__btn:hover{
  background: var(--color-orange);
  color: var(--color-white);
}
.nav__btn:active{
  background: var(--color-orange3);
  border: 3px solid #E1670E;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.image2{
  background-image: url(img/img-right1.svg);
  background-repeat: no-repeat;
  padding-top: 65px;
  max-width: 870px;
  width: 100%;
  height: 50%;
  flex-shrink: 0;
  border-radius: 15px;
  margin-left: 17px;
  border: 1px solid #CACACA;;
  background-position: top 60px left 58px;


}
.aboutus__block{
    display: flex;
    flex-direction: column;
    width: calc((100%-30px)/2);
  }
.aboutus__item{
}
.image3{
  background-image: url(img/img-right2.svg);
  background-repeat: no-repeat;
  padding-top: 65px;
  margin-top: 20px;
  max-width: 870px;
  width: 100%;
  min-height: 295px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #CACACA;;
  background-size: 190px 165px;
  background-position: top 66px left 58px;
  margin-left: 15px;
  flex-wrap: wrap;
}
.aboutus__item__title{
  padding-left: 299px;
  margin: 0;
}
.aboutus__item__descr{
  padding-left: 300px;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  margin-right: 128px;
}



/* STAGES */
.stages{
  height: 646px;
  flex-shrink: 0;
  width: 100%;
  margin-top: 100px;
}
.stages__title{
  margin: 0;
  color: var(--color-black);
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.stages__title__block{
  margin: 0;
  margin-top: 32px;
  color: var(--color-black);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
.stages__descr{
  margin-top: 9px;
  max-width: 758px;
  color: var(--color-black);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  margin-bottom: 49px;
}
.photocont{
  background-image: url(img/stage-img.jpg);
  background-repeat: no-repeat;
  width: 50%;
  height: 70%;
  flex-shrink: 0;
  background-size: cover;
  background-repeat: no-repeat;
  float: right;
  margin-right: 0;
  margin-top: 44px;
  border-radius: 30px;
}
.stages__btn{
  display: inline-flex;
  min-height: 60px;
  padding: 19px 38px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--color-orange);
  color: var(--color-white);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 28px;
  margin-bottom: 85px;
  transition: background 0.3s ease-in-out;
}
.stages__btn:focus{
  background: var(--color-orange1);
}
.stages__btn:hover{
  background: var(--color-orange1);
}
.stages__btn:active{
  background: var(--color-orange3);
  transition: background 0.3s ease-in-out;
}
.stages__btn1{
  display: inline-flex;
  min-height: 60px;
  padding: 19px 38px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 85px;
  border-radius: 16px;
  border: 1px solid #000;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.stages__btn1:focus{
  background: var(--color-gray);
  color: var(--color-white);
  border: 1px solid #666;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.stages__btn1:hover{
  background: var(--color-gray);
  color: var(--color-white);
  border: 1px solid #666;
}
.stages__btn1:active{
  background: var(--color-black);
  color: var(--color-white);
  border: 1px solid #000;
}
/* questions */
.questions{
  margin-top: 100px;
  width: 100%;
}
.quest__tltle1{
  margin: 0;
  margin-top: 15px;


}
.quest__tltle{
  margin-top: 17px;
  margin-bottom: 32px;
}
.quest__list{
  gap: 32px;
  width: 100%;
  margin-top: 32px;
}
.quest__item{

  padding: 38px 96px 55px 59px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 32px;
  border: 1px solid #CACACA;
  background: #FFF;
}
.quest__title{
  color: var(--color-black);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 8px;
  margin-bottom: 0px;
}
.quest__descr{
  color: var(--color-black);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 200% */
}

/*footer*/
.footer__left{
  padding-left: 14px;
  padding-top: 50px;
  display: inline-block;
  max-width: 330px;
}
.footer__logo{
  margin-bottom: 16px;
}
.footer__list{
  color: var(--color-gray2);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 200% */
  letter-spacing: -0.2px;
  flex-shrink: 0;
}
.footer__icon__list{
  margin: 0;
  gap: 25px;
  margin-top: 92px;
}
.footer__title{
  color: var(--color-gray2);
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.footer__center{
  flex-shrink: 0;
  display: inline-block;
  margin-left: 343px;
  vertical-align: top;
  max-width: 600px;
  min-height: 494px;
  margin-top: 50px;
  letter-spacing: 0.4px;
}
.form{
  margin: 0;
}
.name{
  width: 95%;
  height: 100%;
  flex-shrink: 0;
  background-color:#414141;
  border-radius: 16px;
  border: 1px solid #414141;
  padding: 14px 24px;
  color:#FFF;
  margin-top: 25px;
}
.message{
  width: 95%;
  min-height: 150px;
  flex-shrink: 0;
  background-color:#414141;
  border-radius: 16px;
  border: 1px solid #414141;
  color:#FFF;
  margin-top: 25px;
  padding-top: 20px;
  padding-left: 24px;

}
.footer__btn{
  display: inline-flex;
  height: 60px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--color-orange);
  color: var(--color-white);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  margin-top: 53px;
  width: 45%;
  height: 100%;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 56px;
  margin-right: 21px;
}
.check{
  color: var(--color-gray2);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  display: inline-flex;
  background-image: url('img/Check.svg');
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 18px;
  letter-spacing: 0.1px;

}
.footer__right__descr{
  color: var(--color-gray2);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  width: 20%;
  flex-shrink: 0;
  display: inline-block;
  vertical-align: top;
  margin-top: 138px;
  margin-left: 180px;

}
.footer__odnoclass{
  fill: var(--color-gray);
  transition: fill 0.3s ease-in-out;
}
.footer__odnoclass svg{
  fill: var(--color-gray);
  transition: fill 0.3s ease-in-out;
}
.footer__odnoclass svg:focus{
  fill: var(--color-gray);
}
.footer__odnoclass svg:hover{
  fill: var(--color-orange);
}
.footer__odnoclass svg:active{
  fill: var(--color-orange3);
}
.footer__vk{
  fill: var(--color-gray);
  transition: fill 0.3s ease-in-out;
}
.footer__vk svg{
  fill: var(--color-gray);
  transition: fill 0.3s ease-in-out;
}
.footer__vk svg:focus{
  fill: var(--color-gray);
}
.footer__vk svg:hover{
  fill: var(--color-orange);
}
.footer__vk svg:active{
  fill: var(--color-orange3);
}
.footer__btn{
  transition: background 0.3s ease-in-out;
}
.footer__btn:focus{
  background: var(--color-orange1);
}
.footer__btn:hover{
  background: var(--color-orange1);
}
.footer__btn:active{
  background: var(--color-orange3);
}
.footer__list__item{
  transition: color 0.3s ease-in-out;
}
.footer__list__item:focus{
  color:var(--color-gray2);
  outline: 2px solid #F90;
  outline-offset: 5px;
  transition: outline 0.3s ease-in-out, color 0.3s ease-in-out;
}
.footer__list__item:hover{
  color: var(--color-orange)
}
.footer__list__item:active{
  outline: none;
  color: var(--color-orange3);
  transition: color 0.3s ease-in-out;
}
.footer{
  min-height: 100px;
  flex-shrink: 0;
  width: 100%;
  margin-top: 100px;
  min-height: 594px;
  flex-shrink: 0;
  background: var(--color-black);
}
.name:focus::-webkit-input-placeholder{
  color:#CACACA;
}
.name:hover::-webkit-input-placeholder{
  color:#CACACA;
}
.name:active::-webkit-input-placeholder{
  color:#FFFFFF;
}
.name{
  color:#FFFFFF;
}
.message:focus::-webkit-input-placeholder{
  color:#CACACA;
}
.message:hover::-webkit-input-placeholder{
  color:#CACACA;
}
.message:active::-webkit-input-placeholder{
  color:#FFFFFF;
}
.message{
  color:#FFFFFF;
}
