@media(min-width: 2600px){

  .header__link{
    font-size: 30px;
  }
  .header__icon svg{
    width: 30px;
    height: 30px;
  }

  .descr__photo{
    max-height: 100%;
    font-size: 28px;
  }
  .header__btn{
    font-size: 22px;
}
  .aboutus__descr{
    font-size: 28px;
    max-width: 1500px;
    line-height: 40px;
  }
  .aboutus__item__decsr1{
    font-size: 19px;
  }
  .nav__btn{
    font-size: 19px;
    min-height: 75px;
  }
  .aboutus__contain{

  }
  .photocont{
    height: 100%;
  }
  .stages__title__block{
    font-size: 32px;
  }
  .stages__descr{
    font-size: 28px;
    line-height: 33px;
    max-width: 50%;
  }
  .stages__btn{
    font-size: 22px;
  }
  .stages__btn1{
    font-size: 22px;
  }
  .image1{

    margin-right: 14px;
  }
  .quest__title{
    font-size: 30px;
  }
  .quest__descr{
    font-size: 22px;
  }
  .aboutus__item__title{
    font-size: 29px;
  }
  .aboutus__item__descr{
    font-size: 20px;
  }
  .questions{
    margin-top: 150px;
  }
  .footer__list{
    font-size: 22px;
  }
  .footer__center{
    margin-left: 200px;
  }
  .name{
    width: 100%;
  }
  .message{
    width: 100%;
  }
  .footer__btn{
    margin-right: 40px;
    font-size: 20px;
    padding-left: 34px;
  }
  .check{
    font-size: 16px;
  }
  .footer__right__descr {
    margin-left: 170px;
    font-size: 22px;
    width: 23%;
  }
}
@media(max-width: 1800px){
  .footer__right__descr{
    display: none;
  }
  .aboutus__block{
    margin-left: auto;
    margin-right: auto;

  }
  .image2{
    max-width: 860px;
    margin-left: 0;
  }
  .image3{
    max-width: 860px;
    margin-left: 0;
  }
  .aboutus__item{
    margin-left: 0;
    margin-top: 10px;
  }
}
@media (max-width: 1600px){
  .footer__right__descr{
    display: none;
  }
  .footer__center{
    margin-left: 10px;
  }
  .quest__item{
    padding-left: 20px;
  }
}
@media (max-width: 1200px){
  .image2{
    margin-top: 30px;
  }
  .stages{
    height: 665px;
  }
  .photocont{
    height: 85%;
  }
  .footer__right__descr{
    display: none;
  }
  .questions{
    margin-top: 100px;
  }
  .footer__right__descr{
    display: none;
  }
  .footer__center{
    margin-left: 120px;
  }
}
@media (max-width: 1024px) {
  .header__logo{
    width: 150px;
    height: 48px;
    margin-top: 13px;
    margin-left: 25px;
    margin-right: 129px;
  }

  .header__item{
  margin-right: 70px;
}

.cont__image{
  width: 100%;
  height: 668px;
  margin-top: 40px;
  background-position: center center;
}
.photo__title{
  max-width: 837px;
  font-size: 60px;
  padding-top: 160px;
}
.descr__photo{
  max-width: 790px;
  font-size: 20px;
}
.header__btn{
  margin-top: 61px;
  margin-left: 78px;
}
.section__title{
  margin-top: 35px;
  margin-left: 50px;
}
.aboutus__descr{
  margin-top: 22px;
}
.image1{
  width: 100%;
  height: 640px;
  flex-shrink: 0;
  margin-top: 9px;
}

.aboutus__left{
  max-width: 925px;
  margin-top: 444px;
  height: 30%;
}
.aboutus__item__decsr1{
  margin-right: auto;
  margin-top: 50px;
}
.nav__btn{
  margin-right: 30px;
}
.aboutus__block{
  margin-bottom: 50px;
  max-width: 924px;
}
.image2{
  margin-top: -18px;
  max-width: 860px;
  height: 50%;
  flex-shrink: 0;
  background-position: top 68px left 40px;
  background-size: 114px 99px;
}
.aboutus__item__title{
  padding-left: 190px;
  width: 100%;
  margin-right: 0;
}
.aboutus__item__descr{
  padding-left: 190px;
  margin-top: 10px;
  width: 100%;
  margin-right: 0;

}
.image3{
  margin-top: 10px;
  max-width: 860px;
  height: 50%;
  flex-shrink: 0;
  background-position: top 68px left 40px;
  background-size: 114px 99px;

}
.stages{
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
.stages__descr{
  width: 437px;
  margin-bottom: 24px;

}
.photocont{
  width: 437px;
  height: 689px;
  flex-shrink: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.quest__list{
  flex-direction: column;
  max-width: 924px;
  height: auto;
}
.quest__item{
  width: 100%;
  height: 231px;
  padding-top: 40px;
  padding-left: 59px;
  padding-right: 65px;

}
.quest__tltle1{
  margin-bottom: 32px;
}
.footer__cont{
  align-items: flex-start;
  flex-direction: row;
}
.footer{
  margin-top: 81px;
  width: 100%;
}
.footer__left{
  padding-left: 50px;
  margin-right: 97px;
}
.footer__right__descr{
  display: none;
}
.footer__center{
  width: 100%;
  height: 100%;
  margin-left: auto;
}
.form{
  width: 100%;
}
.name{
  width: 100%
}
.message{
  width: 100%;
}
.footer__btn{
  width: 244px;
  padding-left: 39px;
  margin-right: 12px;
}
}
@media (max-width: 992px){
  .header{
    width: 100%;
  }
  .header__icon{
    margin-left: 0px;
  }
  .header__item{
    margin-right: 30px;
  }
  .header__logo{
    margin-right: 70px;
  }
  .aboutus__block{
    max-width: 640px;
  }
}
@media (max-width: 768px){
  .header{
  width: 100%;
  height: 69px;
  flex-shrink: 0;
  }
  .header__logo{
  width: 110px;
  height: 35px;
  margin-top: 9px;
  margin-bottom: 17px;
  margin-left: 25px;
  margin-right: 69px;
  }
  .header__list{
  margin-top: 26px;
  width: 100%;
  gap: 20px;
  }
  .aboutus__block{
    width: 100%;
  }
  .header__item{
  margin-right: 0;
  }
  .header__link{
  font-size: 16px;
  }
  .header__icon{
  margin-left: 0;
  margin-top: 22px;
  }
  .cont__image{
  width: 100%;
  height: 662px;
  flex-shrink: 0;
  }
  .photo__title{
  font-size: 50px;
  margin-left: 39px;
  }
  .descr__photo{
  font-size: 18px;
  margin-left: 41px;
  }
  .header__btn{
  margin-left: 41px;
  margin-top: 82px;
  }
  .aboutus__descr{
  margin-left: 0px;
  width: 94%;
  height: 379px;
  flex-shrink: 0;
  }
  .aboutus__item{
  }
  .image1{
  width: 100%;
  height: 650px;
  flex-shrink: 0;
  }
 .aboutus__left{
  margin-top: 426px;
  height: 196px;
 }
 .aboutus__item__decsr1{
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 39px;
  margin-right: 45px;
 }
 .aboutus__item__title{
  padding-left: 168px;
  margin-top: -30px;
 }
 .image2{
  width: 100%;
  height: 50%;
  flex-shrink: 0;
  background-position: top 68px left 39px;
  background-size: 114px 99px;
  margin-left: 0;
 }
 .aboutus__item__descr{
  width: 100%;
  font-size: 16px;
  padding-left: 168px;
 }

 .aboutus__item{
 }
 .image3{
  width: 100%;
  height: 235px;
  flex-shrink: 0;
  background-position: top 68px left 39px;
  background-size: 114px 99px;
  margin-top: 30px;
  margin-left: 0;
}
.stages{

}
.photocont{
  float: none;
  width: 100%;
  height: 284px;
  flex-shrink: 0;
  margin-top: 31px
}
.stages__title__block{
  margin-top: 39px;
}
.stages__descr{
  width: 100%;
}
.questions{

}
.quest__item{
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-left: 39px;
  padding-right: 65px;
}
.footer__list{
  display: none;
}
.footer{
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
.footer__left{
  order: 2;
}
.footer__icon__list{
  margin-top: 0;
}
.footer__center{
  margin-top: 50px;
  width: 100%;
  height: 494px;
  flex-shrink: 0;
  order: 1;
  margin-left: 0px;
}
.footer__cont{
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
}
}
@media (max-width: 576px){
  .header__container{
    flex-wrap: wrap;
    height: 132px;
  }
  .header{
    height: 100%;
    width: 100%;
  }
  .header__logo{
  width: 110px;
  height: 35px;
  gap: 5.953px;
  flex-shrink: 0;
  margin: 0;
  margin-top: 8px;
  margin-right: auto;
  }
  .header__list{
    gap: 10px;
  }
  .cont__image{
  width: 290px;
  height: 308px;
  flex-shrink: 0;
  flex-wrap: wrap;
  margin-left: 0px;


  }
  .cont__image{
  background-image: url('/img/cont-image1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
  flex-shrink: 0;
  border-radius: 15px;
  margin: 0;
  margin-top: 20px;
  }
  .section__title{
  font-size: 24px;
  margin-left: 15px;
  }
  .stages__title{
  font-size: 24px;
  }
  .photo__title{
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  margin: 0;
  padding-top: 60px;
  }
  .descr__photo{
  text-align: center;
  font-size: 12px;
  margin: 0;
  padding-top: 7px;
  }
  .header__btn{
  width: 162px;
  height: 41px;
  padding: 8px 21px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  margin: 0;
  margin-top: 32px;
  margin-left: 49px;
  border-radius: 10px;
  }
  .aboutus__title{
    margin: 0;
    margin-top: 60px;
  }
  .aboutus__descr{
  font-size: 14px;
  line-height: 28px; /* 200% */
  width: 100%;
  height: 100%;
  margin: 0;
  margin-top: 20px;
  }
  .aboutus__contain{
    margin-top: 5px;
  }
.image1{
  background-image: url('/img/left-image1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  flex-shrink: 0;
  border-radius: 15px;
  margin-right: 32px;
  }
  .aboutus__left{
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    margin: 0;
    margin-top: 208px;
    margin-bottom: 0;
  }
  .aboutus__item__decsr1{
  font-size: 14px;
  line-height: 28px; /* 200% */
  color: #000;
  margin-bottom: 0;
  font-weight: 400;
  }
  .nav__btn{
  width: 162px;
  min-height: 40px;
  flex-shrink: 0;
  color: #F90;
  text-align: center;
  font-size: 12px;
  margin: 0;
  padding: 0px 40px;
  margin-top: 10px;
  font-weight: 700;
  }

  .image2{
  display: block;
  margin-top: 121px;
  margin-left: 0;
  border: none;
  padding-top: 100px;
  background-image: url('/img/image2\(dop\).svg');
  background-repeat: no-repeat;
  background-position: top 60px left 0px;
  background-size: 64px 49px;
  height: 30%;
  }
  .image2 svg{
    width: 64px;
    height: 64px;
  }
  .aboutus__item__title{
  margin-top: 24px;
  padding-left: 0;

  font-size: 18px;
  font-weight: 500;
  }
  .aboutus__item__descr{
  padding-left: 0px;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px; /* 200% */
  }
  .aboutus__item__decsr1{
    margin-left: 0;
  }
  .image3{
    border: none;
    margin-top: 46px;
    background-position: top 60px left 0px;
    padding-top: 100px;
    background-size: 64px 49px;
    margin-left: 0;
  }
  .stages{
    margin: 0;
    margin-top: 50px;
  }
  .photocont{
    background-image: url('/img/stages2.jpg');
    width: 100%;
    height: 160px;
    flex-shrink: 0;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    margin-top: 22px;
    border-radius: 10px;
  }
  .stages__title__block{
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  margin-top: 15px;
  }
  .stages__descr{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 9px;
  line-height: 28px;
  }
  .stages__btn{
    display: inline-block;
    margin: 0;
    width: 55%;
    font-size: 12px;
    padding: 12px 44px;
    min-height: 40px;
    border-radius: 10px;
  }
  .stages__btn1{
    margin: 0;
    width: 40%;
    float: right;
    padding: 0 29px;
    min-height: 40px;
    font-size: 12px;
    border-radius: 10px;
  }
  .questions{
    margin-top: 60px;
    margin-left: 0;
  }

  .quest__list{
    width: 100%;
    height: 50%;
    margin-top: 20px;
  }
  .quest__item{
    border: none;
    min-height: 112px;
    padding: 0;
  }

  .quest__title{
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  width: 100%;
  height: 100%;
  line-height: normal;
  }
  .quest__descr{
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  line-height: 28px;
  margin-top: 4px;
  }
  .quest__tltle1{
    margin-bottom: 0;
    margin-left: 0;
  }
  .footer{
    margin-top: 60px;
  }
  .footer__center{
    width: 100%;
    margin: 0;
    margin-top: 30px;
    height: 100%;
    margin-left: 0;
  }
  .footer__title{
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  .name{
  height: 60px;
  padding: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 228.571% */
  margin-top: 22px;
  padding-left: 20px;
  }
  .footer__btn{
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 13px 19px;
  width: 162px;
  margin-left: 65px;
  margin-top: 22px;
  border-radius: 10px;
  }
  .message{
    font-size: 14px;
    padding: 22px 19px;
  }
  .check{
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 6px;
    font-size: 16px;
  }
  .footer__left{
    padding-top: 25px;
    margin: 0;
    padding-left: 80px;
    width: 100%;
  }
  .footer__icon__list{
    margin-left: 17px;
    padding: 0;
    margin-top: 0px;
    gap: 15px;
  }
  .icon__item{
    margin: 0;
  }
  .footer__logo{
    width: 131px;
    height: 42px;
  }
  .footer__odnoclass svg{
    width: 40px;
    height: 40px;
  }
  .footer__vk svg{
    width: 40px;
    height: 40px;
  }
  .header__logo{
    order: 1;
    margin-right: auto;
  }
  .header__list{
    order: 3;
    display: flex;
    margin-left: 0;
    margin-top: 20px
    ;
    gap: 24px;
    overflow: scroll;
  }
  .header__link{
  }

  .header__icon{
    order: 2;
    margin-bottom: 0;
  }
}
